syntax: glob
.classpath
.gradle
*.*~
.settings
src-gen
lib-gen
lib/BoardSpec.jar
lib/MHS.jar
lib/Model.jar
lib/katja.common.jar
build
build-eclipse
doc/tex/*.aux
doc/tex/*.bak
doc/tex/*.bbl
doc/tex/*.blg
doc/tex/*.fls
doc/tex/*.fdb_latexmk
doc/tex/*.log
doc/tex/*.out
doc/tex/*.synctex.gz
doc/tex/*.toc

syntax: regexp
^\.project$
